<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hert.legacyofat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LegacyOfAtApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.TitleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BattleActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:resizeableActivity="false"
                  android:screenOrientation="landscape"></activity>
    </application>

</manifest>